@page
@using System.Data.SqlClient
@using ChampionsConsulting.Pages.DB
@model ChampionsConsulting.Pages.EventManagement.EventInformationModel
@{
}



<h2 class="h2">Events:</h2>

<table class="table table-bordered table-responsive table-striped table-hover">

    <thead class="table-dark">

        <tr>

            <th>Name:</th>

            <th>Description:</th>

            <th>StartDateAndTime:</th>

            <th>EndDateAndTime:</th>

            <th>Location:</th>

        </tr>

    </thead>

    <tbody>

        @{

            SqlDataReader ConferenceReader = DBClass.EventReader();

            while (ConferenceReader.Read())

            {

                <tr>

                    <td>@ConferenceReader["Name"]</td>

                    <td>@ConferenceReader["Description"]</td>

                    <td>@ConferenceReader["StartDateAndTime"]</td>

                    <td>@ConferenceReader["EndDateAndTime"]</td>

                    <td>@ConferenceReader["LocationID"]</td>

                    <td><a asp-page="/EventManagement/Edit">Edit</a></td>

                    <td><a asp-page="/EventManagement/Delete">Delete</a></td>

                    @*<td><button asp-page="EventInformation" button asp-page-handler="EditHandler" class="btn btn-primary">Edit</button></td>

                    <td><button asp-page="EventInformation" button asp-page-handler="DeleteHandler" class="btn btn-danger">Delete</button></td>*@

                </tr>

            }



            DBClass.CCDBConnection.Close();

        }

    </tbody>

</table>

