@page
@model ChampionsConsulting.Pages.EventManagement.SubEventSignUp2Model
@{
}
<style>
    body {
        font-family: 'Arial', sans-serif;
        color: #333;
        line-height: 1.6;
        background-image: linear-gradient(#f048c6, #f6ea41 );
        font-family: Verdana, sans-serif;
        margin: 0
    }

    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        min-height: 50px;
        max-height: 80px;
        background-color: rgba(36, 32, 33, 0.9);
        color: white;
        font-family: "Helvetica Neue", Helvetica;
        padding: 10px 0px;
        padding-top: 10px;
        margin-top: 30px;
        font-weight: 100;
        clear: both;
    }
</style>
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
}

@if (HttpContext.Session.GetString("Username") != null)
{
    <form method="post">
        <table class="table">
            <tr>
                <th>ID</th>
                <th>Meeting</th>
                <th>Description</th>
                <th>Date</th>
                <th>Select</th>
            </tr>
            @foreach (var meeting in Model.Meetings)
            {
                <tr>
                    <td>
                        <input type="hidden" name="MeetingID" value="@meeting.MeetingID" />
                        @meeting.MeetingID
                    </td>
                    <td>@meeting.MeetingName</td>
                    <td>@meeting.MeetingDescription</td>
                    <td>@meeting.MeetingDate.ToShortDateString()</td>
                    <td>
                        <input name="Checked" type="checkbox" value="@meeting.MeetingID" />
                    </td>
                </tr>
            }
        </table>
        <input type="submit" value="Register" class="btn btn-primary" />
    </form>
}

@if (HttpContext.Session.GetString("Username") == null)
{
    <h2 class="center">You must <b>login</b> before accesing this feature.</h2>
}