@page
@model ChampionsConsulting.Pages.EventManagement.SubEventSignUpSummaryModel
@{
}
<style>
    body {
        font-family: 'Arial', sans-serif;
        color: #333;
        line-height: 1.6;
        background-image: linear-gradient(#f048c6, #f6ea41 );
        font-family: Verdana, sans-serif;
        margin: 0
    }

    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        min-height: 50px;
        max-height: 80px;
        background-color: rgba(36, 32, 33, 0.9);
        color: white;
        font-family: "Helvetica Neue", Helvetica;
        padding: 10px 0px;
        padding-top: 10px;
        margin-top: 30px;
        font-weight: 100;
        clear: both;
    }
</style>
<div class="alert alert-success">Registration Successful!</div>

@if (HttpContext.Session.GetString("Username") != null)
{
    <form method="post">
        <table class="table">
            <tr>
                <th>Meeting Name</th>
                <th>Meeting Type</th>
                <th>Meeting Date</th>
                <th>Meeting Status</th>
                <th>Event Name</th>
                <th>Location</th>
                <th>Event Status</th>

            </tr>
            @foreach (var data in Model.Data)
            {
                <tr>
                    <td>@data.MeetingName</td>
                    <td>@data.MeetingType</td>
                    <td>@data.MeetingDate.ToShortDateString()</td>
                    <td>@data.MeetingStatus</td>
                    <td>@data.EventName</td>
                    <td>@data.LocationName</td>
                    <td>@data.EventStatus</td>
                </tr>
            }
        </table>
        <input type="submit" value="Done" class="btn btn-primary" />
    </form>
}

@if (HttpContext.Session.GetString("Username") == null)
{
    <h2 class="center">You must <b>login</b> before accesing this feature.</h2>
}